---
import Layout from "../../layouts/Layout.astro";
import BlogPost from "../../components/BlogPost.astro";

import { getAllPosts, getUniqueTags } from "@/utils/post";
import PostList from "@/components/PostList.astro";

export const getStaticPaths = async () => {
  const allPosts = await getAllPosts();
  const tags = await getUniqueTags();

  return tags.map(tag => {
    const filterPosts = allPosts.filter(post => post.data.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filterPosts },
    };
  });
};

interface Tag {
  tag: string;
}

const { tag } = Astro.params as Tag;
const { posts } = Astro.props;
// TODO: setting meta
const meta = {
  description: "test",
  title: "test",
};
---

<Layout meta={meta}>
  <h1 class="tagTitle"><a href="/tags">Tag</a> -> {tag}</h1>
  <PostList postList={posts} isTagsVisible={true} />
</Layout>

<style lang="scss">
  .tagTitle a {
    color: $tag-light;
  }
</style>
